.slide {
  width: 50%;
  height: 50%;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

.slide-title {
  display: flex;
  justify-content: center;
}

.right-arrow {
  position: absolute;
  top: 50%;
  /* Move the arrow closer to the right edge */
  right: 16px;
  font-size: 45px;
  color: #000000;
  z-index: 1;
  cursor: pointer;
}

.left-arrow {
  position: absolute;
  top: 50%;
  /* Move the arrow closer to the left edge */
  left: 16px;
  font-size: 45px;
  color: #000000;
  z-index: 1;
  cursor: pointer;
}

.slider {
  position: relative;
  height: 100%;
  transform: scale(.9);
  background-size: 10px;
}

.dots-container {
  display: flex;
  justify-content: center;
}

.dot {
  margin: 0 3px;
  cursor: pointer;
  font-size: 20px;
}

/* Set the hover effect for the dots */
.dot:hover {
  background-color: lightblue;
}

/* Set the active dot color */
.dots-container .dot:nth-child(current_slide) {
  background-color: blue;
}
