.imageSlider {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.slide {
  width: 70%;
  height: 70%;
  border-radius: 10px;
  background-position: center;
  object-fit: contain;
}

.slide-title {
  display: flex;
  justify-content: center;
}

.right-arrow {
  position: absolute;
  top: 50%;
  /* Move the arrow closer to the right edge */
  right: 16px;
  font-size: 45px;
  color: #000000;
  z-index: 1;
  cursor: pointer;
  z-index: 1000;
}

.left-arrow {
  position: absolute;
  top: 50%;
  /* Move the arrow closer to the left edge */
  left: 16px;
  font-size: 45px;
  color: #000000;
  z-index: 1;
  cursor: pointer;
  z-index: 1000;
}

.slider {
  position: relative;
  height: 100%;
  width: 100%;
  transform: scale(.9);
  background-size: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.page-container {
  display: flex;
  justify-content: center;
}

.page-input {
  width: 40px;
}


.page-input::-webkit-outer-spin-button,
.page-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.dots-container {
  display: flex;
  justify-content: center;
}

.dot {
  margin: 0 3px;
  cursor: pointer;
  font-size: 20px;
}

/* Set the hover effect for the dots */
.dot:hover {
  background-color: lightblue;
}

/* Set the active dot color */
.dots-container .dot:nth-child(current_slide) {
  background-color: blue;
}
